/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 480px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    font-size: 1.8em;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

/* Botón para agregar tarea */
.add-task-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.add-task-btn:hover {
    background-color: #45a049;
}

/* Filtros */
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters select {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 0.9em;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
    color: #aaa;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

/* Estilos de tarea */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fafafa;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

li.completed {
    background-color: #d4edda;
    color: #6c757d;
    text-decoration: line-through;
}

li button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

li button.remove {
    background-color: #dc3545;
}

li button:hover {
    background-color: #0056b3;
}

li button.remove:hover {
    background-color: #c82333;
}

/* Media query para móvil */
@media (max-width: 500px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    .task-input input {
        font-size: 0.9em;
    }

    .task-input button {
        font-size: 0.9em;
    }

    li {
        padding: 12px;
    }
}
